<%= form_for(@portfolio_item) do |f| %>
<% if @portfolio_item.errors.any? %>
  <% @portfolio_item.errors.full_messages.each do |error| %>
    <%= render 'shared/error_messages', error: error %>
  <% end %>
<% end %>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :subtitle %>
      <%= f.text_field :subtitle, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="btn btn-primary">
        Upload a main image file <%= f.file_field :main_image, style: 'display: none;' %>
      </label>
    </div>

    <div class="form-group">
      <label class="btn btn-primary">
        Upload a thumb image file <%= f.file_field :thumb_image, style: 'display: none;' %>
      </label>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', rows: 13 %>
    </div>
  </div>
</div>

<hr>

<h3> Technologies used </h3>
<div>
  <%= f.fields_for :technologies do |technology_form| %>
    <%= render 'technology_fields', f: technology_form %>
  <% end %>

  <%= link_to_add_association 'Add Technology', f, :technologies %>
</div>

<div class="mt-3">
  <%= render partial: 'shared/admin_action_icons', locals: { object: @portfolio_item, edit_path: edit_portfolio_path(@portfolio_item) } %>
</div>

<div class="actions mt-3">
  <%= f.submit 'Save portfolio item', class: 'btn btn-primary btn-block' %>
</div>

<% end %>
