<div class="app-card-container">
  <div class="card">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag('profile.jpg', alt: 'profile image of portfolio owner', width: '100%') %>
      <div>
        <div class="skills">
          <% @skills.each do |skill| %>
          <h4> <%= skill.title %> </h4>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning"
                 role="progressbar"
                 aria-valuenow=<%= skill.percent_utilized %>
                 aria-valuemax="100"
                 style="width: <%= skill.percent_utilized %>%"
                >
            </div>
          </div>
        <% end %>
       </div>
      </div>

      </div>
      <div class="col-md-8">
        <h1>I am Theresa, a <em>Quer</em>einsteiger full-stack developer using <small>Ruby on Rails</small> and <small>HTML5/CSS</small> with a bit of <small>Javascript</small></h1>
        <p> I am actually coming from Geosciences working in science for a while. However, I always loved working with computers and wanted to know how to code. Since I came from science and worked with a lot of data analysis, I started off for coding through data science. </p>
        <p> I used my parental leave time to start learning frontend coding with HTML, CSS, Javascript and Design concepts from branding to responsive design. </p>
        <p> After one year studying, I found my first real coding job, yeah! <%= image_tag('https://filedn.eu/lre8PEMo33rQ7SjRPYDECYV/confetti.png', width: '30px') %> - where I started learning about Ruby on Rails! Fun! </p>
        <div class="row">
          <div class="col-md-6">
            <p>
              <button
                class="btn btn-info"
                type="button"
                data-toggle="collapse"
                data-target="#jobHistory"
                area-expanded="false"
                aria-controler="jobHistory"
              >
                Job History
              </button>
            </p>

            <p>
              <div class="collapse" id="jobHistory">
                <div class="card card-block">
                  2014 - 2015: UNU-FLORES - United Nations University - Researcher
                </div>
                <div class="card card-block">
                  2015 - 2017: ResearchGate - Content Quality Manager
                </div>
                <div class="card card-block">
                  2017 - 2019: Parkling - Data Analyst
                </div>
                <div class="card card-block">
                  2019 - Current: Motiontag - Ruby on Rails Backend-Developer
                </div>
              </div>
            </p>
          </div>

          <div class="col-md-6">
            <p>
              <button
                class="btn btn-info"
                type="button"
                data-toggle="collapse"
                data-target="#education"
                area-expanded="false"
                aria-controler="education"
              >
                Education
              </button>
            </p>

            <p>
              <div class="collapse" id="education">
                <div class="card card-block">
                  2002 - 2009: University Bergakademie Freiberg - Geoecology
                </div>
                <div class="card card-block">
                  2011 - 2015: PHD in Geophysics - Soil Science, Hydrological modelling and Remote Sensing
                </div>
              </div>
            </p>
          </div>
        </div>
      </div>
    <div>
  </div>
</div>
