<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K8CS3TDTTP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-K8CS3TDTTP');
    </script>
    <title> <%= @page_title %> </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    <meta name='keywords' content="<%= @seo_keywords %>"/>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicons/favicon.ico' %>
  </head>

  <body>
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <div id="background"></div>
      <%= video_tag('videobgd2.mp4',
                     id: 'background',
                     autoplay: true,
                     loop: true,
                     muted: true,
                     poster: 'bgd-home.png') %>

      <%= render 'shared/application_navbar' %>
      <div class="mb-auto mt-auto text-center">
        <%= yield %>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <%= render partial: 'shared/footer', locals: { styles: 'application-footer' } %>
        </div>
      </div>
    </div>
    <%= render 'shared/alerts' %>
  </body>
</html>
